<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a routerLink="/" style="cursor: pointer;" class="navbar-brand">Angular Examples</a>
      </div>
  
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active"><a routerLink="/basics">Basics</a></li>
          <li routerLinkActive="active"><a routerLink="/componentsAndDataBinding">Components And Databinding</a></li>
          <li routerLinkActive="active"><a routerLink="/directive">Directives</a></li>
          <li routerLinkActive="active"><a routerLink="/service">Services</a></li>
          <li routerLinkActive="active"><a routerLink="/routing">Routings</a></li>
          <li routerLinkActive="active"><a routerLink="/observable">Observable</a></li>
          <li class="dropdown" appDropdown>
            <a class="dropdown-toggle" role="button">Forms <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li routerLinkActive="active"><a routerLink="/formTd" style="cursor: pointer;">Forms-Template Driven</a></li>
              <li routerLinkActive="active"><a routerLink="/reactiveForm" style="cursor: pointer;">Reactive Driven</a></li>
            </ul>
          </li>
          <li routerLinkActive="active"><a routerLink="/pipe">Pipes</a></li>
          <li routerLinkActive="acitve"><a routerLink="/http">Https</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown" appDropdown>
            <a class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a style="cursor: pointer;">Save Data</a></li>
              <li><a style="cursor: pointer;">Fetch Data</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  